.img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  background-size: cover;
  background-position: 50%;
  height: 150px;
}
.img-container > img {
  height: 100%;
  position: 50%;
  
}

